body{
    background:#ECECEC;
    font-family:Arial;
}

nav{
    background:#0A2A66;
    padding:15px;
    color:#fff;
    display:flex;
    align-items:center;
    gap:10px;
}

nav img{
    width:40px;
}

.container{
    height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.box{
    background:#fff;
    padding:30px;
    width:350px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.box h2{
    text-align:center;
    margin-bottom:20px;
}

.box input{
    width:100%;
    padding:10px;
    margin-bottom:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

.box button{
    width:100%;
    padding:10px;
    background:#1E90FF;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}

.box p{
    text-align:center;
    margin-top:10px;
}

.box span{
    color:#1E90FF;
    cursor:pointer;
}

.hide{
    display:none;
}


/* ================= FOOTER ================= */
.footer {
    background-color: #0A2A66;
    padding: 45px 60px;
    color: #E6ECF5;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.footer h4 {
    color: #FFFFFF;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer a {
    display: block;
    color: #C9D6EE;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 15px;
}

.footer a:hover {
    color: #4DA3FF;
}

/* Social icons */
.social-icons {
    display: flex;
    gap: 15px;
    font-size: 22px;
}

.social-icons span {
    cursor: pointer;
    color: #C9D6EE;
}

.social-icons span:hover {
    color: #4DA3FF;
}
.social-icons img {
    width: 28px;
    height: 28px;
    border-radius: 6px;     /* soft rounded corners */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 10px rgba(77, 163, 255, 0.6);
}

/* Contact info */
.contact p {
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.5;
}

/* Footer bottom */
.footer-bottom {
    background-color: #081F4D;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    font-size: 14px;
}
